{{ define "main" }}

<main role="main">
    <article class="post">
        <header class="post-info">
            <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
            <h1 class="post-title">{{ .Title }}</h1>
            <div class="post-line"></div>
        </header>
        <section class="post-content">
            {{ .Content }}
        </section>
    </article>

	<nav class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</nav>
</main>

{{ end }}
