<section class="catalogue-item">
    <a href="{{ .Permalink }}">
        <article class="catalogue-item-post">
            <header>
                <time datetime="{{ .PublishDate }}" class="catalogue-item-post-time">{{ i18n "publishdate" . }}</time>
                <h1 class="catalogue-item-post-title">{{ .Title }}</h1>
                <div class="catalogue-item-post-line"></div>
            </header>

            <p class="catalogue-item-post-summary">
                {{ if isset .Params "summary" }}{{ .Params.Summary | markdownify }}{{ else }}{{ .Summary }}{{ end }}
            </p>
        </article>
    </a>
</section>
